
<!-- Footer -->

<footer id="footer">

  <p class="footerPar">Secrets 2023</p>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="index.js" charset="utf-8"></script>
</body>

</html>
