<%- include('partials/header') %>
<div class="jumbotron centered secrets-page" >
    <i class="logo fas fa-user-secret"></i>
    <h1 class="display-3">Welcome to the secrets page!</h1>
    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"> <%= user.secret %> </p>
    <% }) %>

    <hr>
    <a class="btn btn-light btn-md" href="/logout" role="button" >Log Out</a>
    <a class="btn btn-dark btn-md" href="/submit" role="button" >Submit a Secret</a>
</div>

<%- include('partials/footer') %>
