<%- include('partials/header') %>

<div class="jumbotron text-center" style="margin-bottom:0px ; background-color: #ebf5ee">
  <div class="container" style="padding-bottom: 200px">
    <i class="logo fas fa-user-secret"></i>
    <h1 class="display-3">Welcome to the secrets page!</h1>
    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text" > <%= user.secret %> </p>
    <% }) %>

    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button" style="width:25%">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button" style="width:25%">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
