#title{
background-color: #ebf5ee;
}

body{
  font-family: 'Playfair Display', serif;
  margin: 0px;
}

h1{
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 3.5rem;
  line-height: 1.5;
  margin: auto;
  margin-top: 35px;
  text-align: center;
  padding-bottom: 40px;

}

.carousel {
  width:400px;
  height:400px;
  text-align: center;
  margin: auto;
}

.nav-item{
  padding: 0 18px;
}

.title-image{
  border-radius: 140px;
  display: block;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: auto;
  z-index: 1;

}

.icon{
  color: black;
  font-size: 3rem;
  font-weight: bold;
}

.fas{
  color: #921224;
}
.fas:hover{
  color: #bdc6b8;
}
.col-lg-4{
  margin: auto;
  text-align: center;
  font-size: 0.8rem;
}

#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ebf5ee;
}

.carousel-item{

}
#press{
  text-align: center;
  background-color: #ebf5ee;
  padding: 4% 0;

}

.right1{
  text-align: right;
  width: 20%;

}
.right2{
  text-align: right;
  width: 85%;

}
.right3{
  text-align: right;
  width: 95%;
}

.right4{
  text-align: right;
  width: 10%;
}


#footer{
  background-color: #921224;

}
.btn{
  text-align: center;
  width: fit-content;
}

.btn-scl{
  width: 100%; 
}

#press{
  padding-bottom: 80px;
  padding-top: 80px;
}
.footerPar{
  margin-bottom: 0px;
  padding: 13px;
  color: white;
  text-align: center;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

.container-fluid{
  padding: 40px 90px;
}
.stylebtn{
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
  border-color: #bdc6b8;
  background-color: #ebf5ee;

}
.btn-block{
  margin-top: 0px;
}

.stylebtn:hover {
  background-color: #bdc6b8;
  border-color: #bdc6b8;
  color: white;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.logo{
  color: #bdc6b8;
  font-size: 4rem;
}

.btn-outline-danger{
  width: fit-content;
}

.secrets-page{
  padding:4% 1%;
  margin:2% auto;
  width:65%;
}

.submit-style{
   padding:7% 3%;
   margin:5% 0px;
}
.secret-text {
  text-align: center;
  font-size: 1.5rem;
  color: #000;
  background-color: #bdc6b8;
  width: 65%;
  margin: 20px auto 40px auto;
}
